<<<<<<< HEAD
<%= link_to "Register", :controller => :register, :action => :index %>

=======
<!--
<button id="getting-started-button" class="btn btn-default btn-lg pull-right vert-offset-top-5">
	<%= link_to( "Getting Started") %>
</button>
-->

<!-- BIG HEADER -->
<div id="section1">
	
	<div class="jumbotron">
		<div class="container ">
			<div class="row screen-only">
				<div class="col-md-4 center-text">
					<h3>NO MORE LOOKING FOR COOL CLOTH. <BR>THEY NOW COME DIRECTLY TO YOUR HOUSE. </h3>
					
				</div>
			</div>
			<a id="getting-started-button-screen" class="btn btn-primary btn-lg pull-right" href="#" role="button">GET STARTED</a>
			<div class="row mobile-only darken-bg">
				<div class="col-md-4 center-text">
					<h4>NO MORE LOOKING FOR COOL CLOTH. <BR>THEY NOW COME DIRECTLY TO YOUR HOUSE. </h4>
					<a id="getting-started-button-mobile" class="btn btn-primary btn-lg pull-right" href="#" role="button">GET STARTED</a>
				</div>
			</div>
		</div>
	</div>
	
</div>

<!-- HOW IT WORKS -->
<div id="section2">
	<div id="how-it-works" class="container underline-div">
		<h1 class="center-text">How it works</h1>
			<div class="row center-text">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="thumbnail">
						<img src="css/bp.gif" alt="...">
						<h3>1. Sign up</h3>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="thumbnail">
					<img src="css/bp.gif" alt="...">
					<h3>2. Choose your style</h3>
				</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="thumbnail">
					<img src="css/bp.gif" alt="...">
					<h3>3. Check your mailbox!</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- FEATURES -->
<div id="section3">
	
</div>

<!-- PRICE -->
<div id="section4">
	
</div>
>>>>>>> 2206801d91acec1262a0911d97aef547146d44d8
