// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments{
	margin-top: 20px;
	border-top: 1px solid #ddd;
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 10px;
}
#comment{
	min-height: 40px;	
}