@import "bootstrap-sprockets";
@import "bootstrap";

body
{
	padding-top: 60px;
	background-color: red;
}

form-horizontal
{
	background-color: red;
}

.img-label{
	border: 4px solid #eee;
	border-radius: 5px;
	padding: 5px;
}

.red-border{
	border: 4px solid #c0d890;
}

input[type=checkbox]{
	display: none;
}