<div class="page-header">
  <h1 id="registration-header">Chose global style</h1>
</div>

<%= form_for(@preference, html: {class: "form-horizontal"} ) do |p| %>
  <% if @preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preference.errors.count, "error") %> error:</h2>

      <ul>
      <% @preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="registration-container" class="clearfix">
    <div id="stage1">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <h3 class="header-choose-size">Suits</h3>
          <label class="rb" for="pathstyle1" onclick="stage1NextEnable()">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
          <input type="radio" name="globalstyle" id="pathstyle1">
        </div>

        <div class="col-sm-4 col-xs-12">
        <h3 class="header-choose-size">Casual</h3>
          <label class="rb" for="pathstyle2" onclick="stage1NextEnable()" >
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="radio" name="globalstyle" id="pathstyle2">
        </div>

        <div class="col-sm-4 col-xs-12">
        <h3 class="header-choose-size">Sports</h3>
          <label class="rb" for="pathstyle3" onclick="stage1NextEnable()" >
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="radio" name="globalstyle" id="pathstyle3">
        </div>
      </div>
      <hr> 
      <input id="stage1Next" type="button" value="Next" class="btn btn-default pull-right" onclick="processStage1()" disabled>
    </div><!-- end of stage1 -->

    <div id="stage2">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <label class="cb" for="jacket1" >
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
          <input type="checkbox" id="jacket1" onchange="stage2NextEnable()">
        </div>

        <div class="col-sm-4 col-xs-12">
          <label class="cb" for="jacket2" >
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="jacket2" onchange="stage2NextEnable()">
        </div>

        <div class="col-sm-4 col-xs-12">
          <label class="cb" for="jacket3" >
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="jacket3" onchange="stage2NextEnable()">
        </div>
      </div>
      <hr> 
      <input type="button" value="Previous" class="btn btn-default pull-left" onclick="backToStage1()">
      <input id="stage2Next" type="button" value="Next" class="btn btn-default pull-right" onclick="processStage2()" disabled>
    </div><!-- end of stage2 -->

    <div id="stage3">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <label class="cb" for="pants1">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
          <input type="checkbox" id="pants1" onchange="stage3NextEnable()">
        </div>

        <div class="col-sm-4 col-xs-12">
          <label class="cb" for="pants2">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="pants2" onchange="stage3NextEnable()">
        </div>

        <div class="col-sm-4 col-xs-12">
          <label class="cb" for="pants3">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="pants3" onchange="stage3NextEnable()">
        </div>
      </div>
      <hr> 
      <input type="button" value="Previous" class="btn btn-default pull-left" onclick="backToStage2()">
      <input id="stage3Next" type="button" value="Next" class="btn btn-default pull-right" onclick="processStage3()" disabled>
    </div>

    <div id="stage4">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1 class="header-choose-size">Jacket size</h1>
          <select id="select-stage4-1" class="form-control select-stage4">
            <option value="nil"></option>
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="notsure">Not sure</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h1 class="header-choose-size">Pants size</h1>
          <select id="select-stage4-2" class="form-control select-stage4">
            <option value="nil"></option>
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="notsure">Not sure</option>
          </select>
        </div>
      </div>
      <hr>
      <input type="button" value="Previous" class="btn btn-default pull-left" onclick="backToStage3()">
      <input id="stage4Next"  type="button" value="Next" class="btn btn-default pull-right" onclick="processStage4()" disabled>
    </div><!-- end of stage 4 -->

    <div id="stage5">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <label class="cb" for="hat1">
            <img src="assets/bp.gif" class="img-responsive">
          </label>
          <input type="checkbox" id="hat1" onchange="stage5NextEnable()">
        </div>

        <div class="col-sm-3 col-xs-12">
          <label class="cb" for="hat2">
            <img src="assets/bp.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="hat2" onchange="stage5NextEnable()">
        </div>

        <div class="col-sm-3 col-xs-12">
          <label class="cb" for="hat3">
            <img src="assets/bp.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="hat3" onchange="stage5NextEnable()">
        </div>

        <div class="col-sm-3 col-xs-12">
          <label class="cb" for="hat4">
            <img src="assets/bp.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="hat4" onchange="stage5NextEnable()">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <label class="cb" for="shoes1">
            <img src="assets/bp.gif" class="img-responsive">
          </label>
          <input type="checkbox" id="shoes1" onchange="stage5NextEnable()">
        </div>

        <div class="col-sm-3 col-xs-12">
          <label class="cb" for="shoes2">
            <img src="assets/bp.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="shoes2" onchange="stage5NextEnable()">
        </div>

        <div class="col-sm-3 col-xs-12">
          <label class="cb" for="shoes3">
            <img src="assets/bp.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="shoes3" onchange="stage5NextEnable()">
        </div>

        <div class="col-sm-3 col-xs-12">
          <label class="cb" for="shoes4">
            <img src="assets/bp.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="shoes4" onchange="stage5NextEnable()">
        </div>
      </div>
      <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3 class="header-choose-size">Hat size</h3>
          <select id="select-stage5-1" class="form-control"  onchange="stage5NextEnable()">
            <option value="nil"></option>
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Not sure</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3 class="header-choose-size">Shoes size</h3>
          <select id="select-stage5-2" class="form-control"  onchange="stage5NextEnable()">
            <option value="nil"></option>
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Not sure</option>
          </select>
        </div>
      </div>
      <hr>
      <input type="button" value="Previous" class="btn btn-default pull-left" onclick="backToStage4()">
      <input id="stage5Next" type="button" value="Done" class="btn btn-default pull-right" onclick="processStage5()" disabled>
    </div><!-- end of stage 5 -->
    
  </div><!-- end of #registration-container -->  

<% end %>