<div class="page-header">
  <h1 id="registration-header">Chose global style</h1>
</div>

<%= form_for(@preference, html: {class: "form-horizontal"} ) do |p| %>
  <% if @preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preference.errors.count, "error") %> error:</h2>

      <ul>
      <% @preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="registration-container" class="clearfix">
    <div id="stage1">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <label class="rb" for="pathstyle1">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
          <input type="radio" name="globalstyle" id="pathstyle1">
        </div>

        <div class="col-sm-4 col-xs-12">
          <label class="rb" for="pathstyle2">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="radio" name="globalstyle" id="pathstyle2">
        </div>

        <div class="col-sm-4 col-xs-12">
          <label class="rb" for="pathstyle3">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="radio" name="globalstyle" id="pathstyle3">
        </div>
      </div>
      <hr> 
      <input type="button" value="Next" class="btn btn-default pull-right" onclick="processStage1()">
    </div><!-- end of stage1 -->

    <div id="stage2">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <label class="cb" for="jacket1">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
          <input type="checkbox" id="jacket1">
        </div>

        <div class="col-sm-4 col-xs-12">
          <label class="cb" for="jacket2">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="jacket2">
        </div>

        <div class="col-sm-4 col-xs-12">
          <label class="cb" for="jacket3">
            <img src="assets/bp2.gif" class="img-responsive">
          </label>
            <input type="checkbox" id="jacket3">
        </div>
      </div>
      <hr> 
      <input type="button" value="Previous" class="btn btn-default pull-left" onclick="backToStage1()">
      <input type="button" value="Next" class="btn btn-default pull-right" onclick="processStage1()">
    </div><!-- end of stage2 -->

    <div id="stage3">
      
    </div>
  </div><!-- end of #registration-container -->  

<% end %>