<!-- footer -->
	<div id="footer">
		<div class="navbar navbar-default navbar-bottom">
			<ul class="nav navbar-nav">
				<li><a>S T Y L E</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li><a href="about">About</a></li>
				<li><a>Blog</a></li>
				<li><a>Contact</a></li>
				<li><a>Terms</a></li>
			</ul>
	</div>

